<launch>
    <!-- publishes senderLocation and receiverLocation topics -->
    <node pkg="autonomous-delivery-robot"
          type="fake_publishers.py"
          name="fake_publishers"
          output="screen" />

    <!-- core delivery logic node -->
    <node pkg="autonomous-delivery-robot"
          type="delivery_adr"
          name="delivery_node"
          output="screen" />
</launch>

